.acceuil_bottom_nutrition{
    height: 300px;
}
.nutrition_container {
    background-color: rgba(229, 228, 226, 0.4);
    padding: 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
}

.nutrition_content__left{
    width: 100%;
    height: 60px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
}
.nutrition_content__left img {
    height: 20px;
}

.nutrition_content__right{
    width: 30%;
    height: 60px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
}

.nutrition_value{
  font-weight: bold;
}

/* Styles pour calorieCount */
.nutrition_content__left.calorieCount {
    background-color: rgba(255, 0, 0, 0.1);
  }
  
  /* Styles pour proteinCount */
  .nutrition_content__left.proteinCount {
    background-color: rgba(74, 184, 255, 0.1);
  }
  
  /* Styles pour carbohydrateCount */
  .nutrition_content__left.carbohydrateCount {
    background-color: rgba(249, 206, 35, 0.1);
  }
  
  /* Styles pour lipidCount */
  .nutrition_content__left.lipidCount {
    background-color: rgba(253, 81, 129, 0.1);
  }

  @media (max-width: 1024px) {
    .acceuil_bottom_nutrition{
      height: 200px;
  }

  .nutrition_container {
    width: 100%;

  }



  .nutrition_container {
    background-color: rgba(229, 228, 226, 0.4);
    padding: 20px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    margin-left: 50px;
  }

  .nutrition_content__left{
    padding: 5px;
    height: 50px;
    width: 50px;
}


}

