.acceuil_bottom_nutrition{
    height: 100%;
}
.nutrition_container {
    background-color: rgba(229, 228, 226, 0.4);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    margin-top: 25px;
}

.nutrition_content__left{
    width: 30%;
    height: 60px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.nutrition_content__left img {
    height: 20px;
}

.nutrition_content__right{
    width: 30%;
    height: 60px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styles pour calorieCount */
.nutrition_content__left.calorieCount {
    background-color: rgba(255, 0, 0, 0.1);
  }
  
  /* Styles pour proteinCount */
  .nutrition_content__left.proteinCount {
    background-color: rgba(74, 184, 255, 0.1);
  }
  
  /* Styles pour carbohydrateCount */
  .nutrition_content__left.carbohydrateCount {
    background-color: rgba(249, 206, 35, 0.1);
  }
  
  /* Styles pour lipidCount */
  .nutrition_content__left.lipidCount {
    background-color: rgba(253, 81, 129, 0.1);
  }

