.acceuil_main-container {
    width: 100%;
}

.liste_profil {
    display: flex;
}

.liste_profil ul {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
}

