.acceuil_main-container{
    padding: 60px 100px;
}

.acceuil_hello{
    font-weight: bold;
    font-size: 48px;
}

.acceuil_hello span{
    color: red;
}

.acceuil_message{
    font-size: 18px;
    margin-top: 20px;
}

.acceuil_bottom_content {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.activite_secondary{
    display: flex;
}

@media (max-width: 1024px) {
    .acceuil_main-container {
        padding: 25px 10px;
    }

    .acceuil_hello {
        font-size: 36px;
    }

    .acceuil_message {
        font-size: 16px;
        margin-top: 15px;
    }

    .activite_secondary {
        width: 650px;
    }

        .recharts-surface {
            width: 100%;
        }
    
        .recharts-default-legend{
            width: 80%;
            font-size: 12px;
        }
    
        .activity_user__container{
            width: 600px;
        }


        .acceuil_bottom_content {
            padding-top: 0px;
        }


}